span.navbar-brand img {
    border-radius: 100px;
}

.navbar-dark {
    background-color: #6A6D98;
}

.nav-link {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.dropdown-menu {
    background-color: #3c3f62;
    border-radius: 5px;
}

.dropdown-menu a.dropdown-item {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.dropdown-menu a.dropdown-item:hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabindex]) {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabIndex]):hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.dropdown-menu .dropdown-divider {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.container {
    margin-top: 70px;
}

div.container div {
    display: none;
}

div.container div.selected {
    display: block;
}

#queryTags {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #3C3F62;
    overflow: auto;
    height: 100%;
}

#queryTags span.queryTag label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background-color: #6A6D98;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
    margin: 5px;
    padding: 5px 10px 7px 10px;
    display: block;
    border-radius: 50px;
    cursor: pointer;
}

#queryTags span.queryTag input {
    display: none;
}

#queryTags span.queryTag label:hover {
    background-color: #51547F;
}

#queryTags span.queryTag input:checked + label {
    background-color: #8487B2;
    color: rgba(255, 255, 255, 0.8);
}

#commandQuery {
    display: block;
}

#commandQuery .command {
    display: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#commandQuery .command.hidden {
    display: none;
}

#commandQuery .command .command-top, #commandQuery .command .command-bottom {
    display: inherit;
    width: 100%;
    position: relative;
    height: 50%;
}

#commandQuery .command .command-top .command-nsfw {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    background-color: #333;
    color: #FFF;
    padding: 3px 10px 4px 10px;
    border-radius: 50px;
}

#commandQuery .command .command-top .command-name {
    display: inline-block;
    background-color: #3C3F62;
    color: #FFF;
    border-bottom-right-radius: 10px;
    padding: 8px 20px 10px 20px;
}

#commandQuery .command .command-top .command-usage {
    display: inline-block;
    margin-left: 20px;
    font-family: monospace;
}

#commandQuery .command .command-bottom .command-description {
    display: inline-block;
    margin: 20px;
}

#commandQuery .command .command-bottom .command-tags-container {
    display: block;
    background-color: #3C3F62;
    padding: 10px 10px 12px 10px;
}

#commandQuery .command .command-bottom .command-tags-container .command-tags-label {
    color: #FFF;
}

#commandQuery .command .command-bottom .command-tags-container .command-tags {
    display: inline-block;
}

#commandQuery .command .command-bottom .command-tags-container .command-tags .command-tag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    background-color: #6A6D98;
    color: #FFF;
    font-size: 12px;
    border-radius: 50px;
    padding: 3px 10px 4px 10px;
    margin-left: 5px;
    cursor: default;
}

#experience div {
    display: block;
}

.modebar {
    display: none;
}