span.navbar-brand img {
    border-radius: 100px;
}

.navbar-dark {
    background-color: #6A6D98;
}

.nav-link {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.dropdown-menu {
    background-color: #3c3f62;
    border-radius: 5px;
}

.dropdown-menu a.dropdown-item {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.dropdown-menu a.dropdown-item:hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabindex]) {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabIndex]):hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.dropdown-menu .dropdown-divider {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.container {
    margin-top: 70px;
}

div.container div {
    display: none;
}

div.container div.selected {
    display: block;
}

#queryTags {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #3C3F62;
    overflow: auto;
    height: 100%;
}

#queryTags span.queryTag label {
    background-color: #6A6D98;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s;
    margin: 5px;
    padding: 5px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

#queryTags span.queryTag input {
    display: none;
}

#queryTags span.queryTag label:hover {
    background-color: #51547F;
}

#queryTags span.queryTag input:checked + label {
    background-color: #8487B2;
    color: rgba(255, 255, 255, 0.7);
}

#commandQuery {
    display: block;
}

#commandQuery .command {
    display: inherit;
    width: 80%;
}

#commandQuery .command.hidden {
    display: none;
}