p {
    padding: 0px;
    margin: 0px;
}

:root {
    --accent: #6A6D98;
    --accent-dark: #3C3F62;
}

span.navbar-brand img {
    border-radius: 100px;
}

.navbar-dark {
    background-color: var(--accent);
    opacity: 0.97;
}

.nav-link {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.dropdown-menu {
    background-color: var(--accent-dark);
    border-radius: 5px;
    opacity: 0.97;
}

.dropdown-menu a.dropdown-item {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.dropdown-menu a.dropdown-item:hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabindex]) {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabIndex]):hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.dropdown-menu .dropdown-divider {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

#commands, #experience, #faq, #getStarted, #about {
    display: none;
    margin-bottom: 20px;
}

#commands.selected, #experience.selected, #faq.selected, #getStarted.selected, #about.selected {
    display: block;
}

.container {
    margin-top: 70px;
}

#queryTags {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--accent-dark);
    overflow: auto;
    height: 100%;
}

#queryTags span.queryTag label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background-color: var(--accent);
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
    margin: 5px;
    padding: 5px 10px 7px 10px;
    display: block;
    border-radius: 50px;
    cursor: pointer;
}

#queryTags span.queryTag input {
    display: none;
}

#queryTags span.queryTag label:hover {
    background-color: var(--accent);
    filter: brightness(125%);
}

#queryTags span.queryTag input:checked + label {
    background-color: var(--accent);
    filter: brightness(110%);
    color: rgba(255, 255, 255, 0.8);
}

#commandQuery {
    display: block;
}

#commandQuery .command {
    display: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#commandQuery .command.hidden {
    display: none;
}

#commandQuery .command .command-top, #commandQuery .command .command-bottom {
    display: inherit;
    width: 100%;
    position: relative;
    height: 50%;
}

#commandQuery .command .command-top .command-nsfw {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    background-color: #333;
    color: #FFF;
    padding: 3px 10px 4px 10px;
    border-radius: 50px;
}

#commandQuery .command .command-top .command-name {
    display: inline-block;
    background-color: var(--accent-dark);
    color: #FFF;
    border-bottom-right-radius: 10px;
    padding: 8px 20px 10px 20px;
}

#commandQuery .command .command-top .command-usage {
    display: inline-block;
    margin-left: 20px;
    font-family: monospace;
}

#commandQuery .command .command-bottom .command-description {
    display: inline-block;
    margin: 20px;
}

#commandQuery .command .command-bottom .command-tags-container {
    display: block;
    background-color: var(--accent-dark);
    padding: 10px 10px 12px 10px;
}

#commandQuery .command .command-bottom .command-tags-container .command-tags-label {
    color: #FFF;
}

#commandQuery .command .command-bottom .command-tags-container .command-tags {
    display: inline-block;
}

#commandQuery .command .command-bottom .command-tags-container .command-tags .command-tag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    background-color: var(--accent);
    color: #FFF;
    font-size: 12px;
    border-radius: 50px;
    padding: 3px 10px 4px 10px;
    margin-left: 5px;
    cursor: default;
}

#experience div#chartContainer {
    display: block;
    position: relative;
    width: 100%;
}

#experience div#controlsBar {
    display: block;
    background-color: var(--accent-dark);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#experience div#controlsBar label {
    color: rgba(255, 255, 255, 0.9);
}

#experience div#controlsBar input {
    background-color: var(--accent-dark);
    border: none;
    border-bottom: solid 2px var(--accent);
    padding: 5px;
    width: 100px;
    color: rgba(255, 255, 255, 0.8);
}

#experience div#controlsBar button {
    background-color: var(--accent);
    border: none;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s;
}

#experience div#controlsBar button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.modebar {
    display: none;
}